* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

:root {
    --gcolor: #3c3c3c;
}

body {
    background-color: lightgray;
}

header {
    background-color:#3c3c3c;
    padding: 0px 0px 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
}

header h1 {
    color:#3c3c3c;
    margin: 0 60px 0 0;
    font-size: 42px;
    background-color: paleturquoise;
    padding: 10px 10px 10px 50px;
}

header a {
    color: paleturquoise;
    text-decoration: underline;
}

header nav {
    margin: auto;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none; 
}

header nav ul li {
    display: inline;
  }

header nav ul li a {
    margin: 0 30px;
    padding: 15px 20px;
    font-weight: lighter;
    font-size: 22px;
    text-align: center;
}

.backsplash {
    height: 150px;
    background-image: url("../images/backsplash.jfif");
    background-size: cover;
    background-position: center;
    position: relative;
}

.backsplash h2 {
    color:#3c3c3c;
    background-color: paleturquoise;
    font-size: 32px;
    padding: 5px;
    display: inline-block;
    position: absolute;
    bottom: 20px;
    right: 40px;
}

.about {
    margin: 30px auto;
    width: 80%;
    display: flex;
}

.about h2 {
    border-right: 4px solid #00314c;
    font-size: 36px;
    color:#00314c;
    padding-right: 15px;
    text-align: right;
}

.about-text {
    padding-left: 45px;
    color: #00314c;
    font-size: 18px;
}

.work-content {
    margin: 30px auto;
    width: 80%;
    display: flex;
}

.work-content h2 {
    border-right: 4px solid #00314c;
    font-size: 36px;
    color:#00314c;
    padding-right: 32px;
    text-align: right;
}

.run-buddy {
    padding-left: 45px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.run-buddy img {
    height: 100%;
    width: 100%;
    border: 5px solid paleturquoise;
    opacity: 0.3;
    flex: 2 28%;
}

.run-buddy img:hover {
    opacity: 0.9;
}

footer {
    bottom: 0;
    width: 80%;
    margin: 30px 80px;
}

footer h2 {
    color: #00314c;
    font-size: 36px;
    border-right: 4px solid #00314c;
    text-align: right;
    padding-right: 20px;
    float: left;
}

footer nav {
    margin: auto;
}

footer nav ul {
    align-items: center;
    list-style: none; 
}

footer nav ul li {
    display: inline;
  }

footer nav ul li a {
    margin: 0 10px;
    padding: 5px 10px;
    font-weight: lighter;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
    color: #00314c;
}

