* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

:root {
    --gcolor: #3c3c3c;
}

body {
    background-color: lightgray;
}

header {
    background-color:#3c3c3c;
    padding: 0px 0px 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
}

header h1 {
    color:#3c3c3c;
    margin: 0 60px 0 0;
    font-size: 42px;
    background-color: paleturquoise;
    padding: 10px 10px 10px 50px;
}

header a {
    color: paleturquoise;
    text-decoration: underline;
}

header nav {
    margin: auto;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none; 
}

header nav ul li {
    display: inline;
  }

header nav ul li a {
    margin: 0 30px;
    padding: 15px 20px;
    font-weight: lighter;
    font-size: 22px;
    text-align: center;
}

.backsplash {
    height: 150px;
    background-image: url("../images/backsplash.jfif");
    background-size: cover;
    background-position: center;
    position: relative;
}

.backsplash h2 {
    color:#3c3c3c;
    background-color: paleturquoise;
    font-size: 32px;
    padding: 5px;
    display: inline-block;
    position: absolute;
    bottom: 20px;
    right: 40px;
}